In [1]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime as dt
from scipy.stats import poisson
import numpy as np
import scipy.stats as stats
import re

In [2]:
os.chdir('..')
os.getcwd()

'/Users/benmurphy/Projects/rugby/rugby'

In [3]:
raw_df = pd.read_csv("0_data/match_data/urc_matches.csv")
raw_df

,match_date_dt,match_date_time_dt,season,home_team,away_team,home_score,away_score,home_n_tries,home_n_conversions,home_n_pen_kicks,...,away_n_pen_kicks,away_n_pen_tries,home_forwards_average_age,home_backs_average_age,home_tallest_player,home_pack_weight_kg,away_forwards_average_age,away_backs_average_age,away_tallest_player,away_pack_weight_kg
0,2021-09-24,2021-09-24 18:35:00,21/22,ZEBRE,LIONS,26,38,4.0,2.0,0.0,...,1.0,0.0,26,26,198,924,27,25,199,919
1,2021-09-24,2021-09-24 20:35:00,21/22,CARDIFF,CONNACHT,33,21,5.0,4.0,0.0,...,3.0,0.0,28,27,203,929,26,26,198,892
2,2021-09-24,2021-09-24 20:35:00,21/22,ULSTER,GLASGOW,35,29,5.0,4.0,0.0,...,1.0,1.0,29,26,201,906,28,26,205,912
3,2021-09-25,2021-09-25 14:00:00,21/22,BENETTON,STORMERS,22,18,3.0,2.0,1.0,...,2.0,0.0,24,26,200,909,27,25,200,903
4,2021-09-25,2021-09-25 18:15:00,21/22,LEINSTER,BULLS,31,3,4.0,4.0,1.0,...,1.0,0.0,26,27,201,920,27,26,203,934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2025-05-17,2025-05-17 15:00:00,24/25,BULLS,DRAGONS,0,0,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
593,2025-05-17,2025-05-17 17:15:00,24/25,LIONS,OSPREYS,0,0,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
594,2025-05-17,2025-05-17 18:00:00,24/25,ZEBRE,CONNACHT,0,0,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
595,2025-05-17,2025-05-17 19:30:00,24/25,SHARKS,SCARLETS,0,0,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
596,2025-05-17,2025-05-17 20:35:00,24/25,LEINSTER,GLASGOW,0,0,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0

In [6]:
raw_df = raw_df.loc[raw_df['match_date_dt'] < "2024-12-02"]
raw_df.head()

,match_date_dt,match_date_time_dt,season,home_team,away_team,home_score,away_score,home_n_tries,home_n_conversions,home_n_pen_kicks,...,away_n_pen_kicks,away_n_pen_tries,home_forwards_average_age,home_backs_average_age,home_tallest_player,home_pack_weight_kg,away_forwards_average_age,away_backs_average_age,away_tallest_player,away_pack_weight_kg
0,2021-09-24,2021-09-24 18:35:00,21/22,ZEBRE,LIONS,26,38,4.0,2.0,0.0,...,1.0,0.0,26,26,198,924,27,25,199,919
1,2021-09-24,2021-09-24 20:35:00,21/22,CARDIFF,CONNACHT,33,21,5.0,4.0,0.0,...,3.0,0.0,28,27,203,929,26,26,198,892
2,2021-09-24,2021-09-24 20:35:00,21/22,ULSTER,GLASGOW,35,29,5.0,4.0,0.0,...,1.0,1.0,29,26,201,906,28,26,205,912
3,2021-09-25,2021-09-25 14:00:00,21/22,BENETTON,STORMERS,22,18,3.0,2.0,1.0,...,2.0,0.0,24,26,200,909,27,25,200,903
4,2021-09-25,2021-09-25 18:15:00,21/22,LEINSTER,BULLS,31,3,4.0,4.0,1.0,...,1.0,0.0,26,27,201,920,27,26,203,934

In [7]:
raw_df.columns

Index(['match_date_dt', 'match_date_time_dt', 'season', 'home_team',
       'away_team', 'home_score', 'away_score', 'home_n_tries',
       'home_n_conversions', 'home_n_pen_kicks', 'home_n_pen_tries',
       'away_n_tries', 'away_n_conversions', 'away_n_pen_kicks',
       'away_n_pen_tries', 'home_forwards_average_age',
       'home_backs_average_age', 'home_tallest_player', 'home_pack_weight_kg',
       'away_forwards_average_age', 'away_backs_average_age',
       'away_tallest_player', 'away_pack_weight_kg'],
      dtype='object')

In [14]:
features = ['match_date_dt', 'home_team', 'away_team', 'season',
            
            'home_n_tries', 'away_n_tries', 
            'home_n_conversions', 'away_n_conversions',
            'home_n_pen_kicks', 'away_n_pen_kicks',
            
            'home_forwards_average_age', 'home_backs_average_age',
            'away_forwards_average_age', 'away_backs_average_age',
            'home_tallest_player', 'home_pack_weight_kg'
           ]

# home data
home_data = raw_df[features].copy()

home_data['team_location'] = "Home"
home_data.rename(columns={"Home team": "team",
                    "Away team": "opponents",
                    "home_n_tries": "tries_scored",
                    "away_n_tries": "tries_conceded",
                    "home_n_conversions": "conversions_scored",
                    "away_n_conversions": "conversions_conceded",
                    "home_n_pen_kicks": "pen_kicks_scored",
                    "away_n_pen_kicks": "pen_kicks_conceded",
                    
                    "home_forwards_average_age": "team_forwards_average_age",
                    "home_backs_average_age": "team_backs_average_age",
                    "away_forwards_average_age": "opposition_forwards_average_age",
                    "away_backs_average_age": "opposition_backs_average_age",

                    "home_tallest_player": "team_tallest_player",
                    "away_tallest_player": "opposition_tallest_player"
                    },
                    inplace=True)

# away data
away_data = raw_df[features].copy()
away_data['team_location'] = "Away"
away_data.rename(columns={"Away team": "team",
                    "Home team": "opponents",
                    "away_n_tries": "tries_scored",
                    "home_n_tries": "tries_conceded",
                    "away_n_conversions": "conversions_scored",
                    "home_n_conversions": "conversions_conceded",
                    "away_n_pen_kicks": "pen_kicks_scored",
                    "home_n_pen_kicks": "pen_kicks_conceded",

                    "away_forwards_average_age": "team_forwards_average_age",
                    "away_backs_average_age": "team_backs_average_age",
                    "home_forwards_average_age": "opposition_forwards_average_age",
                    "home_backs_average_age": "opposition_backs_average_age",

                    "away_tallest_player": "team_tallest_player",
                    "home_tallest_player": "opposition_tallest_player"

                    },
                    inplace=True)

# concat dfs together
df = pd.concat([home_data, away_data])
df.reset_index(inplace=True, drop=True)

df

,match_date_dt,home_team,away_team,season,tries_scored,tries_conceded,conversions_scored,conversions_conceded,pen_kicks_scored,pen_kicks_conceded,team_forwards_average_age,team_backs_average_age,opposition_forwards_average_age,opposition_backs_average_age,team_tallest_player,home_pack_weight_kg,team_location,opposition_tallest_player
0,2021-09-24,ZEBRE,LIONS,21/22,4.0,5.0,2.0,5.0,0.0,1.0,26,26,27,25,198.0,924,Home,NaN
1,2021-09-24,CARDIFF,CONNACHT,21/22,5.0,2.0,4.0,1.0,0.0,3.0,28,27,26,26,203.0,929,Home,NaN
2,2021-09-24,ULSTER,GLASGOW,21/22,5.0,4.0,4.0,2.0,0.0,1.0,29,26,28,26,201.0,906,Home,NaN
3,2021-09-25,BENETTON,STORMERS,21/22,3.0,2.0,2.0,1.0,1.0,2.0,24,26,27,25,200.0,909,Home,NaN
4,2021-09-25,LEINSTER,BULLS,21/22,4.0,0.0,4.0,0.0,1.0,1.0,26,27,27,26,201.0,920,Home,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,2024-11-30,CARDIFF,DRAGONS,24/25,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,Away,0.0
1010,2024-11-30,CONNACHT,BULLS,24/25,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,Away,0.0
1011,2024-11-30,EDINBURGH,BENETTON,24/25,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,Away,0.0
1012,2024-11-30,ZEBRE,OSPREYS,24/25,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,Away,0.0
1013,2024-11-30,MUNSTER,LIONS,24/25,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,Away,0.0

In [27]:
# pass a date to function
# use date to calculate the team attack and defense strengths up to but not including that date
# assumes match data is already read it

def get_team_strengths(team_per_row_matches, # match level data to use
                      end_date, # last date to consider 
                      use_all_seasons=True
                      ):
    # match data to use
    df = team_per_row_matches.loc[team_per_row_matches['Match Date'] < end_date]
    df = df.sort_values(by=['Match Date', 'Team Location'], ascending=[True, False])
    df = df.reset_index(drop=True)
    
    # average tries scored home and away
    home_avg_tries_scored = df.groupby('Team Location')['Tries Scored'].mean()['Home Team']
    away_avg_tries_scored = df.groupby('Team Location')['Tries Scored'].mean()['Away Team']
    
    # average tries conceded home and away
    home_avg_tries_conceded = df.groupby('Team Location')['Tries Conceded'].mean()['Home Team']
    away_avg_tries_conceded = df.groupby('Team Location')['Tries Conceded'].mean()['Away Team']
    

    # we need to recalculate our tries scored averages up until the 5th round of 23/24
    train_tries_scored_by_team = df.groupby(["Team", "Team Location"])['Tries Scored'].mean() \
                                    .reset_index().sort_values(by=['Team', 'Team Location'], ascending=[True, False]) \
                                    .pivot(index = ['Team'], columns='Team Location', values='Tries Scored').reset_index().rename_axis(None, axis=1)
    
    train_tries_scored_by_team.rename(columns={"Home Team": "Average Tries Scored Home",
                                                      "Away Team": "Average Tries Scored Away"}, inplace=True)


    # we need to recalculate our tries conceded averages up until the 5th round of 23/24
    train_tries_conceded_by_team = df.groupby(["Team", "Team Location"])['Tries Conceded'].mean() \
                                        .reset_index().sort_values(by=['Team', 'Team Location'], ascending=[True, False]) \
                                        .pivot(index = ['Team'], columns='Team Location', values='Tries Conceded').reset_index().rename_axis(None, axis=1)

    train_tries_conceded_by_team.rename(columns={"Home Team": "Average Tries Conceded Home",
                                                 "Away Team": "Average Tries Conceded Away"}, inplace=True)

    team_ratings = pd.merge(train_tries_scored_by_team, 
                            train_tries_conceded_by_team)

    # calculate team strengths from averages
    team_ratings['Attack Strength Away'] = team_ratings['Average Tries Scored Away'] / away_avg_tries_scored
    team_ratings['Attack Strength Home'] = team_ratings['Average Tries Scored Home'] / home_avg_tries_scored
    
    team_ratings['Defence Strength Away'] = team_ratings['Average Tries Conceded Away'] / away_avg_tries_conceded
    team_ratings['Defence Strength Home'] = team_ratings['Average Tries Conceded Home'] / home_avg_tries_conceded


    return team_ratings

# filter out any future fixtures, only keep historical results
end_day_filter = "2024-11-28"

team_ratings = get_team_strengths(team_per_row_matches=team_per_row_df,
                                   end_date = end_day_filter)

team_ratings

,Team,Average Tries Scored Away,Average Tries Scored Home,Average Tries Conceded Away,Average Tries Conceded Home,Attack Strength Away,Attack Strength Home,Defence Strength Away,Defence Strength Home
0,BENETTON,2.566667,3.225806,4.400000,2.806452,0.959376,0.872454,1.190027,1.049003
1,BULLS,2.939394,5.090909,2.757576,2.636364,1.098695,1.376891,0.745816,0.985427
2,CARDIFF,2.310345,3.096774,3.689655,3.290323,0.863567,0.837556,0.997907,1.229866
3,CONNACHT,2.656250,3.666667,4.000000,2.733333,0.992860,0.991689,1.081843,1.021673
4,DRAGONS,2.275862,2.096774,5.551724,2.838710,0.850678,0.567095,1.501523,1.061061
5,EDINBURGH,2.419355,3.933333,3.322581,2.400000,0.904313,1.063812,0.898628,0.897079
6,GLASGOW,3.470588,4.032258,3.441176,1.516129,1.297246,1.090567,0.930703,0.566703
7,LEINSTER,3.516129,5.371429,2.741935,1.771429,1.314268,1.452760,0.741586,0.662129
8,LIONS,2.133333,4.206897,3.233333,3.310345,0.797403,1.137800,0.874490,1.237350
9,MUNSTER,2.828571,4.258065,2.485714,2.225806,1.057271,1.151639,0.672288,0.831968
10,OSPREYS,2.387097,3.166667,4.290323,2.566667,0.892256,0.856459,1.160364,0.959376
11,SCARLETS,2.793103,2.838710,4.551724,3.225806,1.044014,0.767759,1.231063,1.205751
12,SHARKS,2.656250,3.655172,3.593750,2.517241,0.992860,0.988581,0.971968,0.940901
13,STORMERS,2.741935,3.885714,2.741935,2.257143,1.024888,1.050933,0.741586,0.843681
14,ULSTER,2.937500,3.781250,3.125000,2.312500,1.097987,1.022680,0.845190,0.864373
15,ZEBRE,1.966667,2.500000,5.733333,4.666667,0.735106,0.676152,1.550641,1.744320

In [44]:
fixtures = team_per_row_df.loc[(team_per_row_df['Match Date'] > "2024-11-28") &
                            (team_per_row_df['Match Date'] < "2024-12-02")][['Team', 'Opponents']].values.tolist()
fixtures

[['GLASGOW', 'SCARLETS'],
 ['ULSTER', 'LEINSTER'],
 ['CONNACHT', 'BULLS'],
 ['MUNSTER', 'LIONS'],
 ['ZEBRE', 'OSPREYS'],
 ['EDINBURGH', 'BENETTON'],
 ['CARDIFF', 'DRAGONS'],
 ['SHARKS', 'STORMERS'],
 ['SCARLETS', 'GLASGOW'],
 ['LEINSTER', 'ULSTER'],
 ['BULLS', 'CONNACHT'],
 ['LIONS', 'MUNSTER'],
 ['OSPREYS', 'ZEBRE'],
 ['BENETTON', 'EDINBURGH'],
 ['DRAGONS', 'CARDIFF'],
 ['STORMERS', 'SHARKS']]

# Conversion rate

In [89]:
common_features = ['pkey', 'match_date_', 'Home team', 'Away team']

# home data
temp1 = raw_df[common_features+['home_n_tries', 'home_n_conversions', 'pen_try_minutes_home']].copy()
temp1['Team Location'] = "Home Team"
temp1.rename(columns={"Home team": "Team",
                    "Away team": "Opponents",
                    "home_n_tries": "Tries Scored",
                     "home_n_conversions": "Conversions Scored",
                     "pen_try_minutes_home": "Pen Tries Scored"},
                    inplace=True)

# away data
temp2 = raw_df[common_features + ['away_n_tries', 'away_n_conversions', 'pen_try_minutes_away']].copy()
temp2['Team Location'] = "Away Team"
temp2.rename(columns={"Away team": "Team",
                    "Home team": "Opponents",
                    "away_n_tries": "Tries Scored",
                     "away_n_conversions": "Conversions Scored",
                     "pen_try_minutes_away": "Pen Tries Scored"},
                    inplace=True)

# concat dfs together
conversions_df = pd.concat([temp1, temp2])
conversions_df.reset_index(inplace=True, drop=True)

conversions_df.rename(columns={"match_date_": "Match Date",
                    "pkey": "Primary Key"},
                    inplace=True)

conversions_df['Match Date'] = pd.to_datetime(team_per_row_df['Match Date'])

del(temp1)
del(temp2)

# conversions_df['len_p_tries'] = [len(i) if type(i)==str else 0 for i in conversions_df['Pen Tries Scored']]
conversions_df['p_tries'] = [len(re.findall(r'[\d]+', i)
                                ) if type(i)==str else 0 for i in conversions_df['Pen Tries Scored']]

conversions_df['non_pen_tries_scored'] = conversions_df['Tries Scored'] - conversions_df['p_tries']

conversions_df.sort_values(by='p_tries').tail(5)

,Primary Key,Match Date,Team,Opponents,Tries Scored,Conversions Scored,Pen Tries Scored,Team Location,p_tries,non_pen_tries_scored
1071,BENETTON_LEINSTER_2024-10-05,2024-10-05,LEINSTER,BENETTON,5.0,4.0,9',Away Team,1,4.0
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,4.0,2.0,57',Home Team,1,3.0
104,SHARKS_DRAGONS_2022-04-01,2022-04-01,SHARKS,DRAGONS,6.0,4.0,58' 62',Home Team,2,4.0
660,SHARKS_STORMERS_2022-01-29,2022-01-29,STORMERS,SHARKS,3.0,0.0,68' 84',Away Team,2,1.0
793,SCARLETS_LEINSTER_2022-10-28,2022-10-28,LEINSTER,SCARLETS,5.0,3.0,59' 72',Away Team,2,3.0

In [92]:
conversion_rate_df = conversions_df.groupby('Team')[['non_pen_tries_scored', 'Conversions Scored']].sum().reset_index()

conversion_rate_df['conversion_rate'] = conversion_rate_df['Conversions Scored'] / conversion_rate_df['non_pen_tries_scored']

conversion_rate_df

         Team  non_pen_tries_scored  Conversions Scored  conversion_rate
0           0                   0.0                 0.0              NaN
1           2                   0.0                 0.0              NaN
2    BENETTON                 176.0               126.0         0.715909
3       BULLS                 262.0               212.0         0.809160
4     CARDIFF                 158.0               118.0         0.746835
5    CONNACHT                 189.0               125.0         0.661376
6     DRAGONS                 127.0               101.0         0.795276
7   EDINBURGH                 192.0               137.0         0.713542
8     GLASGOW                 237.0               179.0         0.755274
9    LEINSTER                 291.0               227.0         0.780069
10      LIONS                 183.0               142.0         0.775956
11    MUNSTER                 228.0               168.0         0.736842
12    OSPREYS                 165.0               123.0         0.745455
13   SCARLETS                 167.0               125.0         0.748503
14     SHARKS                 186.0               142.0         0.763441
15   STORMERS                 216.0               157.0         0.726852
16     ULSTER                 210.0               159.0         0.757143
17      ZEBRE                 131.0                84.0         0.641221