In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime as dt
import numpy as np

In [2]:
os.chdir('..')
os.getcwd()

'/Users/benmurphy/Library/CloudStorage/OneDrive-Personal/github-projects/rugby/rugby'

In [3]:
raw_df = pd.read_csv("0_data/match_data/urc_matches.csv")
raw_df

,match_date_,Home team,Away team,home_n_tries,minutes_of_home_tries,away_n_tries,minutes_of_away_tries,home_n_pen_kicks,minutes_of_home_pen_kicks,away_n_pen_kicks,...,pkey,home_score,away_score,score_diff,home_pack_weight,away_pack_weight,home_forwards_ages,home_backs_ages,away_forwards_ages,away_backs_ages
0,2021-09-24,ZEBRE,LIONS,4.0,51_61_64_57,5.0,32_19_21_15_10,0.0,NaN,1.0,...,ZEBRE_LIONS_2021-09-24,26,38,-12,924,919,26,26,27,25
1,2021-09-24,CARDIFF,CONNACHT,5.0,38_50_69_9_73,2.0,12_80,0.0,NaN,3.0,...,CARDIFF_CONNACHT_2021-09-24,33,21,12,929,892,28,27,26,26
2,2021-09-24,ULSTER,GLASGOW,5.0,22_43_48_58_3,4.0,42_14_64_54,0.0,NaN,1.0,...,ULSTER_GLASGOW_2021-09-24,35,29,6,906,912,29,26,28,26
3,2021-09-25,MUNSTER,SHARKS,6.0,43_50_35_5_78_76,2.0,56_69,2.0,28_68,1.0,...,MUNSTER_SHARKS_2021-09-25,42,17,25,907,946,28,25,26,24
4,2021-09-25,BENETTON,STORMERS,3.0,15_58_70,2.0,1_43,1.0,62,2.0,...,BENETTON_STORMERS_2021-09-25,22,18,4,909,903,24,26,27,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2025-05-17,LEINSTER,GLASGOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LEINSTER_GLASGOW_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
593,2025-05-17,BULLS,DRAGONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BULLS_DRAGONS_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
594,2025-05-17,LIONS,OSPREYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LIONS_OSPREYS_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
595,2025-05-17,ZEBRE,CONNACHT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ZEBRE_CONNACHT_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
596,2025-05-17,SHARKS,SCARLETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SHARKS_SCARLETS_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1

In [4]:
raw_df.dtypes

match_date_                     object
Home team                       object
Away team                       object
home_n_tries                   float64
minutes_of_home_tries           object
away_n_tries                   float64
minutes_of_away_tries           object
home_n_pen_kicks               float64
minutes_of_home_pen_kicks       object
away_n_pen_kicks               float64
minutes_of_away_pen_kicks       object
home_n_conversions             float64
minutes_of_home_conversions     object
away_n_conversions             float64
minutes_of_away_conversions     object
competition                     object
pen_try_minutes_home            object
pen_try_minutes_away            object
round_stage                     object
pkey                            object
home_score                       int64
away_score                       int64
score_diff                       int64
home_pack_weight                 int64
away_pack_weight                 int64
home_forwards_ages               int64
home_backs_ages                  int64
away_forwards_ages               int64
away_backs_ages                  int64
dtype: object

In [5]:
matches = raw_df[['match_date_', 'pkey', 'round_stage', 'Home team', 'Away team', 
        'minutes_of_home_tries', 'minutes_of_home_pen_kicks', 'minutes_of_home_conversions', 'pen_try_minutes_home',
        'minutes_of_away_tries', 'minutes_of_away_pen_kicks', 'minutes_of_away_conversions', 'pen_try_minutes_away',
       'home_score', 'away_score', 'home_n_tries', 'away_n_tries']]

matches.sort_values(by='match_date_')

,match_date_,pkey,round_stage,Home team,Away team,minutes_of_home_tries,minutes_of_home_pen_kicks,minutes_of_home_conversions,pen_try_minutes_home,minutes_of_away_tries,minutes_of_away_pen_kicks,minutes_of_away_conversions,pen_try_minutes_away,home_score,away_score,home_n_tries,away_n_tries
0,2021-09-24,ZEBRE_LIONS_2021-09-24,pool stage,ZEBRE,LIONS,51_61_64_57,NaN,51_62,57',32_19_21_15_10,42,11_16_19_22_33,NaN,26,38,4.0,5.0
1,2021-09-24,CARDIFF_CONNACHT_2021-09-24,pool stage,CARDIFF,CONNACHT,38_50_69_9_73,NaN,40_51_70_10,NaN,12_80,3_36_57,13,NaN,33,21,5.0,2.0
2,2021-09-24,ULSTER_GLASGOW_2021-09-24,pool stage,ULSTER,GLASGOW,22_43_48_58_3,NaN,23_44_49_60,3',42_14_64_54,26,44_65,54',35,29,5.0,4.0
3,2021-09-25,MUNSTER_SHARKS_2021-09-25,pool stage,MUNSTER,SHARKS,43_50_35_5_78_76,28_68,44_51_78,NaN,56_69,31,56_70,NaN,42,17,6.0,2.0
4,2021-09-25,BENETTON_STORMERS_2021-09-25,pool stage,BENETTON,STORMERS,15_58_70,62,16_59,NaN,1_43,22_37,44,NaN,22,18,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,2025-05-17,LIONS_OSPREYS_2025-05-17,pool stage,LIONS,OSPREYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN
595,2025-05-17,ZEBRE_CONNACHT_2025-05-17,pool stage,ZEBRE,CONNACHT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN
592,2025-05-17,LEINSTER_GLASGOW_2025-05-17,pool stage,LEINSTER,GLASGOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN
593,2025-05-17,BULLS_DRAGONS_2025-05-17,pool stage,BULLS,DRAGONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN
596,2025-05-17,SHARKS_SCARLETS_2025-05-17,pool stage,SHARKS,SCARLETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN

In [6]:
# create a season column
mask_24_25 = (matches['match_date_'] > '2024-07-31') & (matches['match_date_'] <= '2025-07-11')
mask_23_24 = (matches['match_date_'] > '2023-07-31') & (matches['match_date_'] <= '2024-07-11')
mask_22_23 = (matches['match_date_'] > '2022-07-31') & (matches['match_date_'] <= '2023-07-11')
mask_21_22 = (matches['match_date_'] > '2021-07-31') & (matches['match_date_'] <= '2022-07-11')

matches.loc[mask_24_25, "Season"] = "24/25 (6 rounds)"
matches.loc[mask_23_24, "Season"] = "23/24"
matches.loc[mask_22_23, "Season"] = "22/23"
matches.loc[mask_21_22, "Season"] = "21/22"

matches

/var/folders/xr/_sn2jn9s3xd13fp9ljzys7tm0000gn/T/ipykernel_23265/2178747373.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches.loc[mask_24_25, "Season"] = "24/25 (6 rounds)"

,match_date_,pkey,round_stage,Home team,Away team,minutes_of_home_tries,minutes_of_home_pen_kicks,minutes_of_home_conversions,pen_try_minutes_home,minutes_of_away_tries,minutes_of_away_pen_kicks,minutes_of_away_conversions,pen_try_minutes_away,home_score,away_score,home_n_tries,away_n_tries,Season
0,2021-09-24,ZEBRE_LIONS_2021-09-24,pool stage,ZEBRE,LIONS,51_61_64_57,NaN,51_62,57',32_19_21_15_10,42,11_16_19_22_33,NaN,26,38,4.0,5.0,21/22
1,2021-09-24,CARDIFF_CONNACHT_2021-09-24,pool stage,CARDIFF,CONNACHT,38_50_69_9_73,NaN,40_51_70_10,NaN,12_80,3_36_57,13,NaN,33,21,5.0,2.0,21/22
2,2021-09-24,ULSTER_GLASGOW_2021-09-24,pool stage,ULSTER,GLASGOW,22_43_48_58_3,NaN,23_44_49_60,3',42_14_64_54,26,44_65,54',35,29,5.0,4.0,21/22
3,2021-09-25,MUNSTER_SHARKS_2021-09-25,pool stage,MUNSTER,SHARKS,43_50_35_5_78_76,28_68,44_51_78,NaN,56_69,31,56_70,NaN,42,17,6.0,2.0,21/22
4,2021-09-25,BENETTON_STORMERS_2021-09-25,pool stage,BENETTON,STORMERS,15_58_70,62,16_59,NaN,1_43,22_37,44,NaN,22,18,3.0,2.0,21/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2025-05-17,LEINSTER_GLASGOW_2025-05-17,pool stage,LEINSTER,GLASGOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN,24/25 (6 rounds)
593,2025-05-17,BULLS_DRAGONS_2025-05-17,pool stage,BULLS,DRAGONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN,24/25 (6 rounds)
594,2025-05-17,LIONS_OSPREYS_2025-05-17,pool stage,LIONS,OSPREYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN,24/25 (6 rounds)
595,2025-05-17,ZEBRE_CONNACHT_2025-05-17,pool stage,ZEBRE,CONNACHT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN,24/25 (6 rounds)
596,2025-05-17,SHARKS_SCARLETS_2025-05-17,pool stage,SHARKS,SCARLETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,NaN,NaN,24/25 (6 rounds)

In [11]:
common_features = ['pkey', 'match_date_', 
                   'Home team', 'Away team', 'Season', 'home_score', 'away_score',
                   'home_n_tries', 'away_n_tries',
                   'minutes_of_home_tries', 'minutes_of_away_tries',
                  'pen_try_minutes_home', 'pen_try_minutes_away',
                  'minutes_of_home_pen_kicks', 'minutes_of_home_conversions',
                  'minutes_of_away_pen_kicks',	'minutes_of_away_conversions']

# home data
temp1 = matches[common_features].copy()
temp1['Team Location'] = "Home Team"
temp1.rename(columns={"Home team": "Team",
                    "Away team": "Opponents",
                    "home_score": "Team Score",
                    "away_score": "Opponent Score",
                    "home_n_tries": "Tries Scored",
                     "away_n_tries": "Tries Conceded",
                     "minutes_of_home_tries": "Tries Scored Minutes",
                     "minutes_of_away_tries": "Tries Conceded Minutes",
                     "pen_try_minutes_home": "Pen Tries Scored",
                     "pen_try_minutes_away": "Pen Tries Conceded",
                     "minutes_of_home_pen_kicks": "Pen Kicks Scored",
                     "minutes_of_away_pen_kicks": "Pen Kicks Conceded",
                     "minutes_of_home_conversions": "Conversions Scored",
                     "minutes_of_away_conversions": "Conversions Conceded"

                     },
                    inplace=True)

# away data
temp2 = matches[common_features].copy()
temp2['Team Location'] = "Away Team"
temp2.rename(columns={"Away team": "Team",
                    "Home team": "Opponents",
                    "away_score": "Team Score",
                    "home_score": "Opponent Score",
                    "away_n_tries": "Tries Scored",
                     "home_n_tries": "Tries Conceded",
                      "minutes_of_away_tries": "Tries Scored Minutes",
                     "minutes_of_home_tries": "Tries Conceded Minutes",
                     "pen_try_minutes_away": "Pen Tries Scored",
                     "pen_try_minutes_home": "Pen Tries Conceded",
                     "minutes_of_away_pen_kicks": "Pen Kicks Scored",
                     "minutes_of_home_pen_kicks": "Pen Kicks Conceded",
                     "minutes_of_away_conversions": "Conversions Scored",
                     "minutes_of_home_conversions": "Conversions Conceded",
                     },
                    inplace=True)



# concat dfs together
team_per_row_df = pd.concat([temp1, temp2])
team_per_row_df.reset_index(inplace=True, drop=True)


team_per_row_df.rename(columns={"match_date_": "Match Date",
                    "pkey": "Primary Key"},
                    inplace=True)

team_per_row_df['Match Date'] = pd.to_datetime(team_per_row_df['Match Date'])

del(temp1)
del(temp2)

team_per_row_df.tail(5)

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,Tries Conceded Minutes,Pen Tries Scored,Pen Tries Conceded,Pen Kicks Scored,Conversions Scored,Pen Kicks Conceded,Conversions Conceded,Team Location
1178,SHARKS_OSPREYS_2025-05-09,2025-05-09,OSPREYS,SHARKS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1179,MUNSTER_ULSTER_2025-05-09,2025-05-09,ULSTER,MUNSTER,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1180,STORMERS_DRAGONS_2025-05-10,2025-05-10,DRAGONS,STORMERS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1181,LEINSTER_ZEBRE_2025-05-10,2025-05-10,ZEBRE,LEINSTER,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1182,BENETTON_GLASGOW_2025-05-10,2025-05-10,GLASGOW,BENETTON,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1183,CONNACHT_EDINBURGH_2025-05-10,2025-05-10,EDINBURGH,CONNACHT,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1184,BULLS_CARDIFF_2025-05-10,2025-05-10,CARDIFF,BULLS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1185,LIONS_SCARLETS_2025-05-11,2025-05-11,SCARLETS,LIONS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1186,STORMERS_CARDIFF_2025-05-16,2025-05-16,CARDIFF,STORMERS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1187,EDINBURGH_ULSTER_2025-05-16,2025-05-16,ULSTER,EDINBURGH,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1188,MUNSTER_BENETTON_2025-05-16,2025-05-16,BENETTON,MUNSTER,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1189,LEINSTER_GLASGOW_2025-05-17,2025-05-17,GLASGOW,LEINSTER,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1190,BULLS_DRAGONS_2025-05-17,2025-05-17,DRAGONS,BULLS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1191,LIONS_OSPREYS_2025-05-17,2025-05-17,OSPREYS,LIONS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1192,ZEBRE_CONNACHT_2025-05-17,2025-05-17,CONNACHT,ZEBRE,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team
1193,SHARKS_SCARLETS_2025-05-17,2025-05-17,SCARLETS,SHARKS,24/25 (6 rounds),-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Away Team

In [22]:
# filter out any future fixtures, only keep historical results
day_filter = "2024-10-28"

df = team_per_row_df.loc[team_per_row_df['Match Date'] < day_filter]

df = df.sort_values(by=['Match Date', 'Team Location'], ascending=[True, False])

df = df.reset_index(drop=True)

df['Tries Scored Minutes'] = df['Tries Scored Minutes'].fillna('NA')
df['Tries Conceded Minutes'] = df['Tries Conceded Minutes'].fillna('NA')

df['Pen Tries Scored'] = df['Pen Tries Scored'].fillna('NA')
df['Pen Tries Conceded'] = df['Pen Tries Conceded'].fillna('NA')

df['Pen Kicks Scored'] = df['Pen Kicks Scored'].fillna('NA')
df['Pen Kicks Conceded'] = df['Pen Kicks Conceded'].fillna('NA')

df['Conversions Scored'] = df['Conversions Scored'].fillna('NA')
df['Conversions Conceded'] = df['Conversions Conceded'].fillna('NA')

df.tail(16)

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,Tries Conceded Minutes,Pen Tries Scored,Pen Tries Conceded,Pen Kicks Scored,Conversions Scored,Pen Kicks Conceded,Conversions Conceded,Team Location
982,SCARLETS_ZEBRE_2024-10-25,2024-10-25,SCARLETS,ZEBRE,24/25 (6 rounds),30,8,4.0,1.0,56_46_42_27,8,NA,NA,4_23,43_58,NA,NA,Home Team
983,BENETTON_BULLS_2024-10-25,2024-10-25,BENETTON,BULLS,24/25 (6 rounds),15,17,0.0,2.0,NA,67_77,NA,NA,1_34_62_72_3,NA,22,68_79,Home Team
984,SCARLETS_ZEBRE_2024-10-25,2024-10-25,ZEBRE,SCARLETS,24/25 (6 rounds),8,30,1.0,4.0,8,56_46_42_27,NA,NA,NA,NA,4_23,43_58,Away Team
985,BENETTON_BULLS_2024-10-25,2024-10-25,BULLS,BENETTON,24/25 (6 rounds),17,15,2.0,0.0,67_77,NA,NA,NA,22,68_79,1_34_62_72_3,NA,Away Team
986,STORMERS_GLASGOW_2024-10-26,2024-10-26,STORMERS,GLASGOW,24/25 (6 rounds),17,28,2.0,4.0,33_54,37_63_47_70,NA,NA,63,34_55,NA,38_48_65_72,Home Team
987,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,OSPREYS,EDINBURGH,24/25 (6 rounds),22,13,3.0,1.0,51_3_74,22,NA,NA,60,5_75,16_65,22,Home Team
988,SHARKS_MUNSTER_2024-10-26,2024-10-26,SHARKS,MUNSTER,24/25 (6 rounds),41,24,5.0,4.0,65_23_4_36_0,80_18_73_30,NA,NA,13_48,1_5_24_37_66,NA,73_81,Home Team
989,LEINSTER_LIONS_2024-10-26,2024-10-26,LEINSTER,LIONS,24/25 (6 rounds),24,6,3.0,0.0,31_58_81,NA,81',NA,2,32_59,12_17,NA,Home Team
990,CONNACHT_DRAGONS_2024-10-26,2024-10-26,CONNACHT,DRAGONS,24/25 (6 rounds),31,7,5.0,1.0,38_5_18_73_80,77,NA,NA,NA,6_20_74,NA,77,Home Team
991,CARDIFF_ULSTER_2024-10-26,2024-10-26,CARDIFF,ULSTER,24/25 (6 rounds),21,19,3.0,3.0,48_63_67,13_17_23,NA,NA,NA,49_64_68,NA,14_18,Home Team
992,STORMERS_GLASGOW_2024-10-26,2024-10-26,GLASGOW,STORMERS,24/25 (6 rounds),28,17,4.0,2.0,37_63_47_70,33_54,NA,NA,NA,38_48_65_72,63,34_55,Away Team
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,1.0,3.0,22,51_3_74,NA,NA,16_65,22,60,5_75,Away Team
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,4.0,5.0,80_18_73_30,65_23_4_36_0,NA,NA,NA,73_81,13_48,1_5_24_37_66,Away Team
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,0.0,3.0,NA,31_58_81,NA,81',12_17,NA,2,32_59,Away Team
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,38_5_18_73_80,NA,NA,NA,77,NA,6_20_74,Away Team
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,48_63_67,NA,NA,NA,14_18,NA,49_64_68,Away Team

In [23]:

def parse_tries_scored(tries_scored_mins, pen_tries_minutes, half, to_return):
    if tries_scored_mins!='NA':
        tries_list = [int(i) for i in tries_scored_mins.split('_')]
    else:
        tries_list=[]

    pen_tries_list = pen_tries_minutes.split("\'")
    pen_tries_list = [i for i in pen_tries_list if len(i)>0]
    pen_tries_list = [int(i) for i in pen_tries_list if i!='NA']

    for p in pen_tries_list:
        if p in tries_list:
            tries_list.remove(p)

    if to_return == 'tries': # return tries number
        if half=='first':
            tries_list = [1 if i <= 40 else 0 for i in tries_list]
        elif half=='second':
            tries_list = [1 if i > 40 else 0 for i in tries_list]
        return sum(tries_list)

    if to_return == 'pen_tries':
        if half=='first':
            pen_tries_list = [1 if i <= 40 else 0 for i in pen_tries_list]
        elif half=='second':
            pen_tries_list = [1 if i > 40 else 0 for i in pen_tries_list]
        return sum(pen_tries_list)

In [24]:
df['1st_half_tries_scored'] = df.apply(lambda row: parse_tries_scored(row['Tries Scored Minutes'], row['Pen Tries Scored'], 'first', 'tries'), axis=1)
df['1st_half_pen_tries_scored'] = df.apply(lambda row: parse_tries_scored(row['Tries Scored Minutes'], row['Pen Tries Scored'], 'first', 'pen_tries'), axis=1)

df['2nd_half_tries_scored'] = df.apply(lambda row: parse_tries_scored(row['Tries Scored Minutes'], row['Pen Tries Scored'], 'second', 'tries'), axis=1)
df['2nd_half_pen_tries_scored'] = df.apply(lambda row: parse_tries_scored(row['Tries Scored Minutes'], row['Pen Tries Scored'], 'second', 'pen_tries'), axis=1)

df['1st_half_tries_conceded'] = df.apply(lambda row: parse_tries_scored(row['Tries Conceded Minutes'], row['Pen Tries Conceded'], 'first', 'tries'), axis=1)
df['1st_half_pen_tries_conceded'] = df.apply(lambda row: parse_tries_scored(row['Tries Conceded Minutes'], row['Pen Tries Conceded'], 'first', 'pen_tries'), axis=1)

df['2nd_half_tries_conceded'] = df.apply(lambda row: parse_tries_scored(row['Tries Conceded Minutes'], row['Pen Tries Conceded'], 'second', 'tries'), axis=1)
df['2nd_half_pen_tries_conceded'] = df.apply(lambda row: parse_tries_scored(row['Tries Conceded Minutes'], row['Pen Tries Conceded'], 'second', 'pen_tries'), axis=1)

df

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,...,Conversions Conceded,Team Location,1st_half_tries_scored,1st_half_pen_tries_scored,2nd_half_tries_scored,2nd_half_pen_tries_scored,1st_half_tries_conceded,1st_half_pen_tries_conceded,2nd_half_tries_conceded,2nd_half_pen_tries_conceded
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,21/22,26,38,4.0,5.0,51_61_64_57,...,11_16_19_22_33,Home Team,0,0,3,1,5,0,0,0
1,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CARDIFF,CONNACHT,21/22,33,21,5.0,2.0,38_50_69_9_73,...,13,Home Team,2,0,3,0,1,0,1,0
2,ULSTER_GLASGOW_2021-09-24,2021-09-24,ULSTER,GLASGOW,21/22,35,29,5.0,4.0,22_43_48_58_3,...,44_65,Home Team,1,1,3,0,1,0,2,1
3,ZEBRE_LIONS_2021-09-24,2021-09-24,LIONS,ZEBRE,21/22,38,26,5.0,4.0,32_19_21_15_10,...,51_62,Away Team,5,0,0,0,0,0,3,1
4,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CONNACHT,CARDIFF,21/22,21,33,2.0,5.0,12_80,...,40_51_70_10,Away Team,1,0,1,0,2,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,1.0,3.0,22,...,5_75,Away Team,1,0,0,0,1,0,2,0
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,4.0,5.0,80_18_73_30,...,1_5_24_37_66,Away Team,2,0,2,0,4,0,1,0
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,0.0,3.0,NA,...,32_59,Away Team,0,0,0,0,1,0,1,1
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,...,6_20_74,Away Team,0,0,1,0,3,0,2,0
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,...,49_64_68,Away Team,3,0,0,0,0,0,3,0

In [28]:
def parse_kicks_scored(kick_mins, half):
    if kick_mins!='NA':
        kick_mins = [int(i) for i in kick_mins.split('_')]
    else:
        kick_mins=[]

    if half=='first':
        kick_list = [1 if i <= 40 else 0 for i in kick_mins]
    elif half=='second':
        kick_list = [1 if i > 40 else 0 for i in kick_mins]
    return sum(kick_list)

In [30]:
kick_mins='40_51_70_10'
parse_kicks_scored(kick_mins, 'second')

2

In [32]:
df['1st_half_pens_scored'] = df.apply(lambda row: parse_kicks_scored(row['Pen Kicks Scored'], 'first'), axis=1)
df['2nd_half_pens_scored'] = df.apply(lambda row: parse_kicks_scored(row['Pen Kicks Scored'], 'second'), axis=1)

df['1st_half_conversions_scored'] = df.apply(lambda row: parse_kicks_scored(row['Conversions Scored'], 'first'), axis=1)
df['2nd_half_conversions_scored'] = df.apply(lambda row: parse_kicks_scored(row['Conversions Scored'], 'second'), axis=1)

df['1st_half_pens_conceded'] = df.apply(lambda row: parse_kicks_scored(row['Pen Kicks Conceded'], 'first'), axis=1)
df['2nd_half_pens_conceded'] = df.apply(lambda row: parse_kicks_scored(row['Pen Kicks Conceded'], 'second'), axis=1)

df['1st_half_conversions_conceded'] = df.apply(lambda row: parse_kicks_scored(row['Conversions Conceded'], 'first'), axis=1)
df['2nd_half_conversions_conceded'] = df.apply(lambda row: parse_kicks_scored(row['Conversions Conceded'], 'second'), axis=1)


df

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,...,2nd_half_tries_conceded,2nd_half_pen_tries_conceded,1st_half_pens_scored,2nd_half_pens_scored,1st_half_conversions_scored,2nd_half_conversions_scored,1st_half_pens_conceded,2nd_half_pens_conceded,1st_half_conversions_conceded,2nd_half_conversions_conceded
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,21/22,26,38,4.0,5.0,51_61_64_57,...,0,0,0,0,0,2,0,1,5,0
1,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CARDIFF,CONNACHT,21/22,33,21,5.0,2.0,38_50_69_9_73,...,1,0,0,0,2,2,2,1,1,0
2,ULSTER_GLASGOW_2021-09-24,2021-09-24,ULSTER,GLASGOW,21/22,35,29,5.0,4.0,22_43_48_58_3,...,2,1,0,0,1,3,1,0,0,2
3,ZEBRE_LIONS_2021-09-24,2021-09-24,LIONS,ZEBRE,21/22,38,26,5.0,4.0,32_19_21_15_10,...,3,1,0,1,5,0,0,0,0,2
4,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CONNACHT,CARDIFF,21/22,21,33,2.0,5.0,12_80,...,3,0,2,1,1,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,1.0,3.0,22,...,2,0,1,1,1,0,0,1,1,1
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,4.0,5.0,80_18_73_30,...,1,0,0,0,0,2,1,1,4,1
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,0.0,3.0,NA,...,1,1,2,0,0,0,1,0,1,1
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,...,2,0,0,0,0,1,0,0,2,1
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,...,3,0,0,0,2,0,0,0,0,3

In [33]:
df.dtypes

Primary Key                              object
Match Date                       datetime64[ns]
Team                                     object
Opponents                                object
Season                                   object
Team Score                                int64
Opponent Score                            int64
Tries Scored                            float64
Tries Conceded                          float64
Tries Scored Minutes                     object
Tries Conceded Minutes                   object
Pen Tries Scored                         object
Pen Tries Conceded                       object
Pen Kicks Scored                         object
Conversions Scored                       object
Pen Kicks Conceded                       object
Conversions Conceded                     object
Team Location                            object
1st_half_tries_scored                     int64
1st_half_pen_tries_scored                 int64
2nd_half_tries_scored                     int64
2nd_half_pen_tries_scored                 int64
1st_half_tries_conceded                   int64
1st_half_pen_tries_conceded               int64
2nd_half_tries_conceded                   int64
2nd_half_pen_tries_conceded               int64
1st_half_pens_scored                      int64
2nd_half_pens_scored                      int64
1st_half_conversions_scored               int64
2nd_half_conversions_scored               int64
1st_half_pens_conceded                    int64
2nd_half_pens_conceded                    int64
1st_half_conversions_conceded             int64
2nd_half_conversions_conceded             int64
dtype: object

In [36]:
df['1st_half_team_score'] = (df['1st_half_tries_scored']*5) + (df['1st_half_conversions_scored']*2) + (df['1st_half_pen_tries_scored']*7) + (df['1st_half_pens_scored']*3)
df['2nd_half_team_score'] = (df['2nd_half_tries_scored']*5) + (df['2nd_half_conversions_scored']*2) + (df['2nd_half_pen_tries_scored']*7) + (df['2nd_half_pens_scored']*3)

df['1st_half_opponent_score'] = (df['1st_half_tries_conceded']*5) + (df['1st_half_conversions_conceded']*2) + (df['1st_half_pen_tries_conceded']*7) + (df['1st_half_pens_conceded']*3)
df['2nd_half_opponent_score'] = (df['2nd_half_tries_conceded']*5) + (df['2nd_half_conversions_conceded']*2) + (df['2nd_half_pen_tries_conceded']*7) + (df['2nd_half_pens_conceded']*3)


df.tail(16)

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,...,1st_half_conversions_scored,2nd_half_conversions_scored,1st_half_pens_conceded,2nd_half_pens_conceded,1st_half_conversions_conceded,2nd_half_conversions_conceded,1st_half_team_score,2nd_half_team_score,1st_half_opponent_score,2nd_half_opponent_score
982,SCARLETS_ZEBRE_2024-10-25,2024-10-25,SCARLETS,ZEBRE,24/25 (6 rounds),30,8,4.0,1.0,56_46_42_27,...,0,2,0,0,0,0,11,19,5,0
983,BENETTON_BULLS_2024-10-25,2024-10-25,BENETTON,BULLS,24/25 (6 rounds),15,17,0.0,2.0,NA,...,0,0,1,0,0,2,9,6,3,14
984,SCARLETS_ZEBRE_2024-10-25,2024-10-25,ZEBRE,SCARLETS,24/25 (6 rounds),8,30,1.0,4.0,8,...,0,0,2,0,0,2,5,0,11,19
985,BENETTON_BULLS_2024-10-25,2024-10-25,BULLS,BENETTON,24/25 (6 rounds),17,15,2.0,0.0,67_77,...,0,2,3,2,0,0,3,14,9,6
986,STORMERS_GLASGOW_2024-10-26,2024-10-26,STORMERS,GLASGOW,24/25 (6 rounds),17,28,2.0,4.0,33_54,...,1,1,0,0,1,3,7,10,7,21
987,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,OSPREYS,EDINBURGH,24/25 (6 rounds),22,13,3.0,1.0,51_3_74,...,1,1,1,1,1,0,7,15,10,3
988,SHARKS_MUNSTER_2024-10-26,2024-10-26,SHARKS,MUNSTER,24/25 (6 rounds),41,24,5.0,4.0,65_23_4_36_0,...,4,1,0,0,0,2,31,10,10,14
989,LEINSTER_LIONS_2024-10-26,2024-10-26,LEINSTER,LIONS,24/25 (6 rounds),24,6,3.0,0.0,31_58_81,...,1,1,2,0,0,0,10,14,6,0
990,CONNACHT_DRAGONS_2024-10-26,2024-10-26,CONNACHT,DRAGONS,24/25 (6 rounds),31,7,5.0,1.0,38_5_18_73_80,...,2,1,0,0,0,1,19,12,0,7
991,CARDIFF_ULSTER_2024-10-26,2024-10-26,CARDIFF,ULSTER,24/25 (6 rounds),21,19,3.0,3.0,48_63_67,...,0,3,0,0,2,0,0,21,19,0
992,STORMERS_GLASGOW_2024-10-26,2024-10-26,GLASGOW,STORMERS,24/25 (6 rounds),28,17,4.0,2.0,37_63_47_70,...,1,3,0,1,1,1,7,21,7,10
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,1.0,3.0,22,...,1,0,0,1,1,1,10,3,7,15
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,4.0,5.0,80_18_73_30,...,0,2,1,1,4,1,10,14,31,10
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,0.0,3.0,NA,...,0,0,1,0,1,1,6,0,10,14
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,...,0,1,0,0,2,1,0,7,19,12
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,...,2,0,0,0,0,3,19,0,0,21

In [ ]:
d

In [38]:
def points_for_win(team_points, opp_points):
    if team_points > opp_points:
        return 4
    else:
        return 0

def points_for_draw(team_points, opp_points):
    if team_points == opp_points:
        return 2
    else:
        return 0

def points_for_losing_bonus(team_points, opp_points, points_for_win):
    output = 0
    if points_for_win == 0: # only losing team can get losing bonus point
        if (opp_points - team_points) <= 7:
            output = 1
    return output

def points_for_try_bonus(team_tries_scored):
    if team_tries_scored >= 4:
        return 1
    else:
        return 0

# for counts of wins etc
def binary_for_win(team_points, opp_points):
    if team_points > opp_points:
        return 1
    else:
        return 0

def binary_for_draw(team_points, opp_points):
    if team_points == opp_points:
        return 1
    else:
        return 0

# Full time table

In [40]:
df['points_for_win'] = df.apply(lambda row: points_for_win(row['Team Score'], row['Opponent Score']), axis=1)
df['points_for_draw'] = df.apply(lambda row: points_for_draw(row['Team Score'], row['Opponent Score']), axis=1)
df['Losing Bonus'] = df.apply(lambda row: points_for_losing_bonus(row['Team Score'], row['Opponent Score'], row['points_for_win']), axis=1)
df['Try Bonus'] = df.apply(lambda row: points_for_try_bonus(row['Tries Scored']), axis=1)
df['Points'] = df['points_for_win'] + df['points_for_draw'] + df['Losing Bonus'] + df['Try Bonus']


df['W'] = df.apply(lambda row: binary_for_win(row['Team Score'], row['Opponent Score']), axis=1)
df['D'] = df.apply(lambda row: binary_for_draw(row['Team Score'], row['Opponent Score']), axis=1)
df['P'] = 1


df.tail(16)

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,...,1st_half_opponent_score,2nd_half_opponent_score,points_for_win,points_for_draw,Losing Bonus,Try Bonus,Points,W,D,P
982,SCARLETS_ZEBRE_2024-10-25,2024-10-25,SCARLETS,ZEBRE,24/25 (6 rounds),30,8,4.0,1.0,56_46_42_27,...,5,0,4,0,0,1,5,1,0,1
983,BENETTON_BULLS_2024-10-25,2024-10-25,BENETTON,BULLS,24/25 (6 rounds),15,17,0.0,2.0,NA,...,3,14,0,0,1,0,1,0,0,1
984,SCARLETS_ZEBRE_2024-10-25,2024-10-25,ZEBRE,SCARLETS,24/25 (6 rounds),8,30,1.0,4.0,8,...,11,19,0,0,0,0,0,0,0,1
985,BENETTON_BULLS_2024-10-25,2024-10-25,BULLS,BENETTON,24/25 (6 rounds),17,15,2.0,0.0,67_77,...,9,6,4,0,0,0,4,1,0,1
986,STORMERS_GLASGOW_2024-10-26,2024-10-26,STORMERS,GLASGOW,24/25 (6 rounds),17,28,2.0,4.0,33_54,...,7,21,0,0,0,0,0,0,0,1
987,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,OSPREYS,EDINBURGH,24/25 (6 rounds),22,13,3.0,1.0,51_3_74,...,10,3,4,0,0,0,4,1,0,1
988,SHARKS_MUNSTER_2024-10-26,2024-10-26,SHARKS,MUNSTER,24/25 (6 rounds),41,24,5.0,4.0,65_23_4_36_0,...,10,14,4,0,0,1,5,1,0,1
989,LEINSTER_LIONS_2024-10-26,2024-10-26,LEINSTER,LIONS,24/25 (6 rounds),24,6,3.0,0.0,31_58_81,...,6,0,4,0,0,0,4,1,0,1
990,CONNACHT_DRAGONS_2024-10-26,2024-10-26,CONNACHT,DRAGONS,24/25 (6 rounds),31,7,5.0,1.0,38_5_18_73_80,...,0,7,4,0,0,1,5,1,0,1
991,CARDIFF_ULSTER_2024-10-26,2024-10-26,CARDIFF,ULSTER,24/25 (6 rounds),21,19,3.0,3.0,48_63_67,...,19,0,4,0,0,0,4,1,0,1
992,STORMERS_GLASGOW_2024-10-26,2024-10-26,GLASGOW,STORMERS,24/25 (6 rounds),28,17,4.0,2.0,37_63_47_70,...,7,10,4,0,0,1,5,1,0,1
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,1.0,3.0,22,...,7,15,0,0,0,0,0,0,0,1
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,4.0,5.0,80_18_73_30,...,31,10,0,0,0,1,1,0,0,1
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,0.0,3.0,NA,...,10,14,0,0,0,0,0,0,0,1
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,...,19,12,0,0,0,0,0,0,0,1
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,...,0,21,0,0,1,0,1,0,0,1

In [41]:
temp1 = df.groupby(['Team'])[['Points', 'P', 'W', 'D',
                     'Team Score', 'Opponent Score', 
                      'Tries Scored', 'Tries Conceded',
                    'Try Bonus', 'Losing Bonus'
]
].sum().reset_index().sort_values(by='Points', ascending=False)

temp1

,Team,Points,P,W,D,Team Score,Opponent Score,Tries Scored,Tries Conceded,Try Bonus,Losing Bonus
7,LEINSTER,260,66,51,1,2080,1168,297.0,147.0,44,10
13,STORMERS,224,66,43,4,1744,1314,221.0,164.0,30,14
1,BULLS,214,66,42,0,2069,1531,265.0,178.0,34,12
6,GLASGOW,213,65,43,0,1708,1372,243.0,164.0,34,7
9,MUNSTER,210,66,40,2,1722,1286,231.0,156.0,32,14
14,ULSTER,204,64,40,0,1634,1337,215.0,174.0,28,16
3,CONNACHT,159,62,32,0,1462,1573,195.0,210.0,20,11
5,EDINBURGH,155,61,29,1,1466,1357,193.0,175.0,22,15
8,LIONS,154,59,30,0,1517,1481,186.0,193.0,24,10
12,SHARKS,148,61,27,2,1513,1493,191.0,188.0,22,14
0,BENETTON,147,61,27,3,1418,1609,177.0,219.0,22,11
10,OSPREYS,143,61,27,2,1354,1608,169.0,210.0,19,12
2,CARDIFF,125,60,23,1,1313,1616,163.0,209.0,16,15
11,SCARLETS,124,60,22,2,1378,1732,169.0,232.0,20,12
4,DRAGONS,67,60,10,1,1102,1865,131.0,249.0,11,14
15,ZEBRE,43,60,3,1,1033,2171,134.0,312.0,13,16

# 1st Half Table

In [43]:
df['1st_half_points_for_win'] = df.apply(lambda row: points_for_win(row['1st_half_team_score'], row['1st_half_opponent_score']), axis=1)
df['1st_half_points_for_draw'] = df.apply(lambda row: points_for_draw(row['1st_half_team_score'], row['1st_half_opponent_score']), axis=1)
df['1st_half_Losing Bonus'] = df.apply(lambda row: points_for_losing_bonus(row['1st_half_team_score'], row['1st_half_opponent_score'], row['1st_half_points_for_win']), axis=1)
df['1st_half_Try Bonus'] = df.apply(lambda row: points_for_try_bonus(row['1st_half_tries_scored']), axis=1)
df['1st_half_Points'] = df['1st_half_points_for_win'] + df['1st_half_points_for_draw'] + df['1st_half_Losing Bonus'] + df['1st_half_Try Bonus']


df['1st_half_W'] = df.apply(lambda row: binary_for_win(row['1st_half_team_score'], row['1st_half_opponent_score']), axis=1)
df['1st_half_D'] = df.apply(lambda row: binary_for_draw(row['1st_half_team_score'], row['1st_half_opponent_score']), axis=1)
df['1st_half_P'] = 1


df.tail(2)

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,...,D,P,1st_half_points_for_win,1st_half_points_for_draw,1st_half_Losing Bonus,1st_half_Try Bonus,1st_half_Points,1st_half_W,1st_half_D,1st_half_P
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,...,0,1,0,0,0,0,0,0,0,1
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,...,0,1,4,0,0,0,4,1,0,1

In [44]:
temp1 = df.groupby(['Team'])[['1st_half_Points', '1st_half_P', '1st_half_W', '1st_half_D',
                     '1st_half_team_score', '1st_half_opponent_score', 
                      '1st_half_tries_scored', '1st_half_tries_conceded',
                    '1st_half_Try Bonus', '1st_half_Losing Bonus'
]
].sum().reset_index().sort_values(by='1st_half_Points', ascending=False)

temp1

,Team,1st_half_Points,1st_half_P,1st_half_W,1st_half_D,1st_half_team_score,1st_half_opponent_score,1st_half_tries_scored,1st_half_tries_conceded,1st_half_Try Bonus,1st_half_Losing Bonus
7,LEINSTER,202,66,44,3,941,598,129,71,5,15
1,BULLS,199,66,41,5,985,711,122,74,11,14
14,ULSTER,190,64,41,4,795,566,103,69,2,16
6,GLASGOW,186,65,39,3,831,641,116,70,7,17
13,STORMERS,185,66,35,8,834,598,103,67,5,24
9,MUNSTER,184,66,40,1,824,634,109,73,6,16
5,EDINBURGH,156,61,31,4,686,634,89,81,3,21
2,CARDIFF,146,60,30,4,734,728,89,94,3,15
3,CONNACHT,145,62,29,2,731,703,93,92,3,22
0,BENETTON,139,61,30,2,668,682,80,91,1,14
8,LIONS,131,59,25,2,738,677,86,86,6,21
12,SHARKS,121,61,22,5,637,751,77,90,3,20
11,SCARLETS,113,60,22,4,662,828,78,110,0,17
10,OSPREYS,111,61,20,5,581,835,67,104,1,20
4,DRAGONS,86,60,15,3,525,913,54,116,0,20
15,ZEBRE,47,60,7,1,439,1112,50,157,0,17

# Second Half Table

In [46]:
df['2nd_half_points_for_win'] = df.apply(lambda row: points_for_win(row['2nd_half_team_score'], row['2nd_half_opponent_score']), axis=1)
df['2nd_half_points_for_draw'] = df.apply(lambda row: points_for_draw(row['2nd_half_team_score'], row['2nd_half_opponent_score']), axis=1)
df['2nd_half_Losing Bonus'] = df.apply(lambda row: points_for_losing_bonus(row['2nd_half_team_score'], row['2nd_half_opponent_score'], row['2nd_half_points_for_win']), axis=1)
df['2nd_half_Try Bonus'] = df.apply(lambda row: points_for_try_bonus(row['2nd_half_tries_scored']), axis=1)
df['2nd_half_Points'] = df['2nd_half_points_for_win'] + df['2nd_half_points_for_draw'] + df['2nd_half_Losing Bonus'] + df['2nd_half_Try Bonus']


df['2nd_half_W'] = df.apply(lambda row: binary_for_win(row['2nd_half_team_score'], row['2nd_half_opponent_score']), axis=1)
df['2nd_half_D'] = df.apply(lambda row: binary_for_draw(row['2nd_half_team_score'], row['2nd_half_opponent_score']), axis=1)
df['2nd_half_P'] = 1


df.tail(8)

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,Tries Scored,Tries Conceded,Tries Scored Minutes,...,1st_half_D,1st_half_P,2nd_half_points_for_win,2nd_half_points_for_draw,2nd_half_Losing Bonus,2nd_half_Try Bonus,2nd_half_Points,2nd_half_W,2nd_half_D,2nd_half_P
990,CONNACHT_DRAGONS_2024-10-26,2024-10-26,CONNACHT,DRAGONS,24/25 (6 rounds),31,7,5.0,1.0,38_5_18_73_80,...,0,1,4,0,0,0,4,1,0,1
991,CARDIFF_ULSTER_2024-10-26,2024-10-26,CARDIFF,ULSTER,24/25 (6 rounds),21,19,3.0,3.0,48_63_67,...,0,1,4,0,0,0,4,1,0,1
992,STORMERS_GLASGOW_2024-10-26,2024-10-26,GLASGOW,STORMERS,24/25 (6 rounds),28,17,4.0,2.0,37_63_47_70,...,1,1,4,0,0,0,4,1,0,1
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,1.0,3.0,22,...,0,1,0,0,0,0,0,0,0,1
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,4.0,5.0,80_18_73_30,...,0,1,4,0,0,0,4,1,0,1
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,0.0,3.0,NA,...,0,1,0,0,0,0,0,0,0,1
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,1.0,5.0,77,...,0,1,0,0,1,0,1,0,0,1
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,3.0,3.0,13_17_23,...,0,1,0,0,0,0,0,0,0,1

In [47]:
temp1 = df.groupby(['Team'])[['2nd_half_Points', '2nd_half_P', '2nd_half_W', '2nd_half_D',
                     '2nd_half_team_score', '2nd_half_opponent_score', 
                      '2nd_half_tries_scored', '2nd_half_tries_conceded',
                    '2nd_half_Try Bonus', '2nd_half_Losing Bonus'
]
].sum().reset_index().sort_values(by='2nd_half_Points', ascending=False)

temp1

,Team,2nd_half_Points,2nd_half_P,2nd_half_W,2nd_half_D,2nd_half_team_score,2nd_half_opponent_score,2nd_half_tries_scored,2nd_half_tries_conceded,2nd_half_Try Bonus,2nd_half_Losing Bonus
7,LEINSTER,228,66,49,2,1139,567,162,70,17,11
1,BULLS,195,66,39,5,1076,805,140,100,16,13
9,MUNSTER,182,66,37,3,895,646,119,81,10,18
6,GLASGOW,175,65,35,6,874,731,121,92,7,16
13,STORMERS,175,66,35,7,892,707,113,95,5,16
14,ULSTER,175,64,37,4,839,765,107,103,5,14
12,SHARKS,152,61,32,2,861,734,109,93,5,15
10,OSPREYS,146,61,30,3,764,755,98,99,1,19
5,EDINBURGH,133,61,25,4,774,720,103,92,5,20
8,LIONS,130,59,25,4,773,795,97,103,7,15
3,CONNACHT,128,62,24,3,728,864,96,116,4,22
0,BENETTON,126,61,27,2,738,927,96,126,3,11
11,SCARLETS,121,60,26,0,716,898,89,115,3,14
2,CARDIFF,101,60,19,3,579,888,69,109,0,19
4,DRAGONS,94,60,16,5,574,949,73,127,0,20
15,ZEBRE,82,60,15,3,588,1059,81,152,2,14

# The comeback kid

In [56]:
halves_df = df[['Primary Key','Match Date','Team','Opponents','Season',
     'Team Score', 'Opponent Score', 
     '1st_half_team_score', '2nd_half_team_score',
     '1st_half_opponent_score', '2nd_half_opponent_score']].copy()

halves_df

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,1st_half_team_score,2nd_half_team_score,1st_half_opponent_score,2nd_half_opponent_score
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,21/22,26,38,0,26,35,3
1,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CARDIFF,CONNACHT,21/22,33,21,14,19,13,8
2,ULSTER_GLASGOW_2021-09-24,2021-09-24,ULSTER,GLASGOW,21/22,35,29,14,21,8,21
3,ZEBRE_LIONS_2021-09-24,2021-09-24,LIONS,ZEBRE,21/22,38,26,35,3,0,26
4,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CONNACHT,CARDIFF,21/22,21,33,13,8,14,19
...,...,...,...,...,...,...,...,...,...,...,...
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,10,3,7,15
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,10,14,31,10
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,6,0,10,14
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,0,7,19,12
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,19,0,0,21

In [59]:
def get_result(team_a, team_b):
    if team_a > team_b:
        return 'W'
    elif team_a == team_b:
        return 'D'
    else:
        return 'L'


halves_df['Full Result'] = halves_df.apply(lambda row: get_result(row['Team Score'], row['Opponent Score']), axis=1)
halves_df['1st Half Result'] = halves_df.apply(lambda row: get_result(row['1st_half_team_score'], row['1st_half_opponent_score']), axis=1)
halves_df['2nd Half Result'] = halves_df.apply(lambda row: get_result(row['2nd_half_team_score'], row['2nd_half_opponent_score']), axis=1)

halves_df

,Primary Key,Match Date,Team,Opponents,Season,Team Score,Opponent Score,1st_half_team_score,2nd_half_team_score,1st_half_opponent_score,2nd_half_opponent_score,Full Result,1st Half Result,2nd Half Result
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,21/22,26,38,0,26,35,3,L,L,W
1,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CARDIFF,CONNACHT,21/22,33,21,14,19,13,8,W,W,W
2,ULSTER_GLASGOW_2021-09-24,2021-09-24,ULSTER,GLASGOW,21/22,35,29,14,21,8,21,W,W,D
3,ZEBRE_LIONS_2021-09-24,2021-09-24,LIONS,ZEBRE,21/22,38,26,35,3,0,26,W,W,L
4,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CONNACHT,CARDIFF,21/22,21,33,13,8,14,19,L,L,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,OSPREYS_EDINBURGH_2024-10-26,2024-10-26,EDINBURGH,OSPREYS,24/25 (6 rounds),13,22,10,3,7,15,L,W,L
994,SHARKS_MUNSTER_2024-10-26,2024-10-26,MUNSTER,SHARKS,24/25 (6 rounds),24,41,10,14,31,10,L,L,W
995,LEINSTER_LIONS_2024-10-26,2024-10-26,LIONS,LEINSTER,24/25 (6 rounds),6,24,6,0,10,14,L,L,L
996,CONNACHT_DRAGONS_2024-10-26,2024-10-26,DRAGONS,CONNACHT,24/25 (6 rounds),7,31,0,7,19,12,L,L,L
997,CARDIFF_ULSTER_2024-10-26,2024-10-26,ULSTER,CARDIFF,24/25 (6 rounds),19,21,19,0,0,21,L,W,L

In [64]:
halves_df.groupby(['Team', '1st Half Result', 'Full Result'])['Primary Key'].count().reset_index().to_csv('half_results.csv', index=False)