In [4]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime as dt
from scipy.stats import poisson
import numpy as np
import scipy.stats as stats
import re

In [5]:
os.chdir('..')
os.getcwd()

'/Users/benmurphy/Projects/rugby/rugby'

In [6]:
raw_df = pd.read_csv("0_data/match_data/urc_matches.csv")
raw_df

,match_date_,Home team,Away team,home_n_tries,minutes_of_home_tries,away_n_tries,minutes_of_away_tries,home_n_pen_kicks,minutes_of_home_pen_kicks,away_n_pen_kicks,...,pkey,home_score,away_score,score_diff,home_pack_weight,away_pack_weight,home_forwards_ages,home_backs_ages,away_forwards_ages,away_backs_ages
0,2021-09-24,ZEBRE,LIONS,4.0,51_61_64_57,5.0,32_19_21_15_10,0.0,NaN,1.0,...,ZEBRE_LIONS_2021-09-24,26,38,-12,924,919,26,26,27,25
1,2021-09-24,CARDIFF,CONNACHT,5.0,38_50_69_9_73,2.0,12_80,0.0,NaN,3.0,...,CARDIFF_CONNACHT_2021-09-24,33,21,12,929,892,28,27,26,26
2,2021-09-24,ULSTER,GLASGOW,5.0,22_43_48_58_3,4.0,42_14_64_54,0.0,NaN,1.0,...,ULSTER_GLASGOW_2021-09-24,35,29,6,906,912,29,26,28,26
3,2021-09-25,MUNSTER,SHARKS,6.0,43_50_35_5_78_76,2.0,56_69,2.0,28_68,1.0,...,MUNSTER_SHARKS_2021-09-25,42,17,25,907,946,28,25,26,24
4,2021-09-25,BENETTON,STORMERS,3.0,15_58_70,2.0,1_43,1.0,62,2.0,...,BENETTON_STORMERS_2021-09-25,22,18,4,909,903,24,26,27,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2025-05-17,LEINSTER,GLASGOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LEINSTER_GLASGOW_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
593,2025-05-17,BULLS,DRAGONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BULLS_DRAGONS_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
594,2025-05-17,LIONS,OSPREYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LIONS_OSPREYS_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
595,2025-05-17,ZEBRE,CONNACHT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ZEBRE_CONNACHT_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1
596,2025-05-17,SHARKS,SCARLETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SHARKS_SCARLETS_2025-05-17,-1,-1,0,-1,-1,-1,-1,-1,-1

In [45]:
raw_df.dtypes

match_date_                     object
Home team                       object
Away team                       object
home_n_tries                   float64
minutes_of_home_tries           object
away_n_tries                   float64
minutes_of_away_tries           object
home_n_pen_kicks               float64
minutes_of_home_pen_kicks       object
away_n_pen_kicks               float64
minutes_of_away_pen_kicks       object
home_n_conversions             float64
minutes_of_home_conversions     object
away_n_conversions             float64
minutes_of_away_conversions     object
competition                     object
pen_try_minutes_home            object
pen_try_minutes_away            object
round_stage                     object
pkey                            object
home_score                       int64
away_score                       int64
score_diff                       int64
home_pack_weight                 int64
away_pack_weight                 int64
home_forwards_ages               int64
home_backs_ages                  int64
away_forwards_ages               int64
away_backs_ages                  int64
dtype: object

In [7]:
matches = raw_df[['match_date_', 'Home team', 'Away team', 'home_n_tries', 'away_n_tries', 'pkey']].copy()

matches['Total Tries'] = matches['home_n_tries'] + matches['away_n_tries']

matches.sort_values(by='match_date_')

,match_date_,Home team,Away team,home_n_tries,away_n_tries,pkey,Total Tries
0,2021-09-24,ZEBRE,LIONS,4.0,5.0,ZEBRE_LIONS_2021-09-24,9.0
1,2021-09-24,CARDIFF,CONNACHT,5.0,2.0,CARDIFF_CONNACHT_2021-09-24,7.0
2,2021-09-24,ULSTER,GLASGOW,5.0,4.0,ULSTER_GLASGOW_2021-09-24,9.0
3,2021-09-25,MUNSTER,SHARKS,6.0,2.0,MUNSTER_SHARKS_2021-09-25,8.0
4,2021-09-25,BENETTON,STORMERS,3.0,2.0,BENETTON_STORMERS_2021-09-25,5.0
...,...,...,...,...,...,...,...
594,2025-05-17,LIONS,OSPREYS,NaN,NaN,LIONS_OSPREYS_2025-05-17,NaN
595,2025-05-17,ZEBRE,CONNACHT,NaN,NaN,ZEBRE_CONNACHT_2025-05-17,NaN
592,2025-05-17,LEINSTER,GLASGOW,NaN,NaN,LEINSTER_GLASGOW_2025-05-17,NaN
593,2025-05-17,BULLS,DRAGONS,NaN,NaN,BULLS_DRAGONS_2025-05-17,NaN
596,2025-05-17,SHARKS,SCARLETS,NaN,NaN,SHARKS_SCARLETS_2025-05-17,NaN

In [8]:
# create a season column
mask_24_25 = (matches['match_date_'] > '2024-07-31') & (matches['match_date_'] <= '2025-07-11')
mask_23_24 = (matches['match_date_'] > '2023-07-31') & (matches['match_date_'] <= '2024-07-11')
mask_22_23 = (matches['match_date_'] > '2022-07-31') & (matches['match_date_'] <= '2023-07-11')
mask_21_22 = (matches['match_date_'] > '2021-07-31') & (matches['match_date_'] <= '2022-07-11')

matches.loc[mask_24_25, "Season"] = "24/25 (5 rounds)"
matches.loc[mask_23_24, "Season"] = "23/24"
matches.loc[mask_22_23, "Season"] = "22/23"
matches.loc[mask_21_22, "Season"] = "21/22"

matches

,match_date_,Home team,Away team,home_n_tries,away_n_tries,pkey,Total Tries,Season
0,2021-09-24,ZEBRE,LIONS,4.0,5.0,ZEBRE_LIONS_2021-09-24,9.0,21/22
1,2021-09-24,CARDIFF,CONNACHT,5.0,2.0,CARDIFF_CONNACHT_2021-09-24,7.0,21/22
2,2021-09-24,ULSTER,GLASGOW,5.0,4.0,ULSTER_GLASGOW_2021-09-24,9.0,21/22
3,2021-09-25,MUNSTER,SHARKS,6.0,2.0,MUNSTER_SHARKS_2021-09-25,8.0,21/22
4,2021-09-25,BENETTON,STORMERS,3.0,2.0,BENETTON_STORMERS_2021-09-25,5.0,21/22
...,...,...,...,...,...,...,...,...
592,2025-05-17,LEINSTER,GLASGOW,NaN,NaN,LEINSTER_GLASGOW_2025-05-17,NaN,24/25 (5 rounds)
593,2025-05-17,BULLS,DRAGONS,NaN,NaN,BULLS_DRAGONS_2025-05-17,NaN,24/25 (5 rounds)
594,2025-05-17,LIONS,OSPREYS,NaN,NaN,LIONS_OSPREYS_2025-05-17,NaN,24/25 (5 rounds)
595,2025-05-17,ZEBRE,CONNACHT,NaN,NaN,ZEBRE_CONNACHT_2025-05-17,NaN,24/25 (5 rounds)
596,2025-05-17,SHARKS,SCARLETS,NaN,NaN,SHARKS_SCARLETS_2025-05-17,NaN,24/25 (5 rounds)

In [46]:
common_features = ['pkey', 'match_date_', 'Home team', 'Away team', 'Season']

# home data
temp1 = matches[common_features+['home_n_tries', 'away_n_tries']]
temp1['Team Location'] = "Home Team"
temp1.rename(columns={"Home team": "Team",
                    "Away team": "Opponents",
                    "home_n_tries": "Tries Scored",
                     "away_n_tries": "Tries Conceded"},
                    inplace=True)

# away data
temp2 = matches[common_features + ['away_n_tries', 'home_n_tries']]
temp2['Team Location'] = "Away Team"
temp2.rename(columns={"Away team": "Team",
                    "Home team": "Opponents",
                    "away_n_tries": "Tries Scored",
                     "home_n_tries": "Tries Conceded"},
                    inplace=True)

# concat dfs together
team_per_row_df = pd.concat([temp1, temp2])
team_per_row_df.reset_index(inplace=True, drop=True)

team_per_row_df.rename(columns={"match_date_": "Match Date",
                    "pkey": "Primary Key"},
                    inplace=True)

team_per_row_df['Match Date'] = pd.to_datetime(team_per_row_df['Match Date'])

del(temp1)
del(temp2)

team_per_row_df.head(16)

,Primary Key,Match Date,Team,Opponents,Season,Tries Scored,Tries Conceded,Team Location
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,21/22,4.0,5.0,Home Team
1,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CARDIFF,CONNACHT,21/22,5.0,2.0,Home Team
2,ULSTER_GLASGOW_2021-09-24,2021-09-24,ULSTER,GLASGOW,21/22,5.0,4.0,Home Team
3,MUNSTER_SHARKS_2021-09-25,2021-09-25,MUNSTER,SHARKS,21/22,6.0,2.0,Home Team
4,BENETTON_STORMERS_2021-09-25,2021-09-25,BENETTON,STORMERS,21/22,3.0,2.0,Home Team
5,LEINSTER_BULLS_2021-09-25,2021-09-25,LEINSTER,BULLS,21/22,4.0,0.0,Home Team
6,EDINBURGH_SCARLETS_2021-09-25,2021-09-25,EDINBURGH,SCARLETS,21/22,4.0,3.0,Home Team
7,DRAGONS_OSPREYS_2021-09-26,2021-09-26,DRAGONS,OSPREYS,21/22,2.0,3.0,Home Team
8,SCARLETS_LIONS_2021-10-01,2021-10-01,SCARLETS,LIONS,21/22,4.0,1.0,Home Team
9,CONNACHT_BULLS_2021-10-01,2021-10-01,CONNACHT,BULLS,21/22,5.0,1.0,Home Team
10,ZEBRE_ULSTER_2021-10-02,2021-10-02,ZEBRE,ULSTER,21/22,0.0,6.0,Home Team
11,MUNSTER_STORMERS_2021-10-02,2021-10-02,MUNSTER,STORMERS,21/22,5.0,2.0,Home Team
12,BENETTON_EDINBURGH_2021-10-02,2021-10-02,BENETTON,EDINBURGH,21/22,3.0,4.0,Home Team
13,GLASGOW_SHARKS_2021-10-02,2021-10-02,GLASGOW,SHARKS,21/22,5.0,3.0,Home Team
14,OSPREYS_CARDIFF_2021-10-02,2021-10-02,OSPREYS,CARDIFF,21/22,0.0,2.0,Home Team
15,DRAGONS_LEINSTER_2021-10-03,2021-10-03,DRAGONS,LEINSTER,21/22,0.0,1.0,Home Team

In [10]:
team_per_row_df

,Primary Key,Match Date,Team,Opponents,Season,Tries Scored,Tries Conceded,Team Location
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,21/22,4.0,5.0,Home Team
1,CARDIFF_CONNACHT_2021-09-24,2021-09-24,CARDIFF,CONNACHT,21/22,5.0,2.0,Home Team
2,ULSTER_GLASGOW_2021-09-24,2021-09-24,ULSTER,GLASGOW,21/22,5.0,4.0,Home Team
3,MUNSTER_SHARKS_2021-09-25,2021-09-25,MUNSTER,SHARKS,21/22,6.0,2.0,Home Team
4,BENETTON_STORMERS_2021-09-25,2021-09-25,BENETTON,STORMERS,21/22,3.0,2.0,Home Team
...,...,...,...,...,...,...,...,...
1189,LEINSTER_GLASGOW_2025-05-17,2025-05-17,GLASGOW,LEINSTER,24/25 (5 rounds),NaN,NaN,Away Team
1190,BULLS_DRAGONS_2025-05-17,2025-05-17,DRAGONS,BULLS,24/25 (5 rounds),NaN,NaN,Away Team
1191,LIONS_OSPREYS_2025-05-17,2025-05-17,OSPREYS,LIONS,24/25 (5 rounds),NaN,NaN,Away Team
1192,ZEBRE_CONNACHT_2025-05-17,2025-05-17,CONNACHT,ZEBRE,24/25 (5 rounds),NaN,NaN,Away Team
1193,SHARKS_SCARLETS_2025-05-17,2025-05-17,SCARLETS,SHARKS,24/25 (5 rounds),NaN,NaN,Away Team

In [27]:
# pass a date to function
# use date to calculate the team attack and defense strengths up to but not including that date
# assumes match data is already read it

def get_team_strengths(team_per_row_matches, # match level data to use
                      end_date, # last date to consider 
                      use_all_seasons=True
                      ):
    # match data to use
    df = team_per_row_matches.loc[team_per_row_matches['Match Date'] < end_date]
    df = df.sort_values(by=['Match Date', 'Team Location'], ascending=[True, False])
    df = df.reset_index(drop=True)
    
    # average tries scored home and away
    home_avg_tries_scored = df.groupby('Team Location')['Tries Scored'].mean()['Home Team']
    away_avg_tries_scored = df.groupby('Team Location')['Tries Scored'].mean()['Away Team']
    
    # average tries conceded home and away
    home_avg_tries_conceded = df.groupby('Team Location')['Tries Conceded'].mean()['Home Team']
    away_avg_tries_conceded = df.groupby('Team Location')['Tries Conceded'].mean()['Away Team']
    

    # we need to recalculate our tries scored averages up until the 5th round of 23/24
    train_tries_scored_by_team = df.groupby(["Team", "Team Location"])['Tries Scored'].mean() \
                                    .reset_index().sort_values(by=['Team', 'Team Location'], ascending=[True, False]) \
                                    .pivot(index = ['Team'], columns='Team Location', values='Tries Scored').reset_index().rename_axis(None, axis=1)
    
    train_tries_scored_by_team.rename(columns={"Home Team": "Average Tries Scored Home",
                                                      "Away Team": "Average Tries Scored Away"}, inplace=True)


    # we need to recalculate our tries conceded averages up until the 5th round of 23/24
    train_tries_conceded_by_team = df.groupby(["Team", "Team Location"])['Tries Conceded'].mean() \
                                        .reset_index().sort_values(by=['Team', 'Team Location'], ascending=[True, False]) \
                                        .pivot(index = ['Team'], columns='Team Location', values='Tries Conceded').reset_index().rename_axis(None, axis=1)

    train_tries_conceded_by_team.rename(columns={"Home Team": "Average Tries Conceded Home",
                                                 "Away Team": "Average Tries Conceded Away"}, inplace=True)

    team_ratings = pd.merge(train_tries_scored_by_team, 
                            train_tries_conceded_by_team)

    # calculate team strengths from averages
    team_ratings['Attack Strength Away'] = team_ratings['Average Tries Scored Away'] / away_avg_tries_scored
    team_ratings['Attack Strength Home'] = team_ratings['Average Tries Scored Home'] / home_avg_tries_scored
    
    team_ratings['Defence Strength Away'] = team_ratings['Average Tries Conceded Away'] / away_avg_tries_conceded
    team_ratings['Defence Strength Home'] = team_ratings['Average Tries Conceded Home'] / home_avg_tries_conceded


    return team_ratings

# filter out any future fixtures, only keep historical results
end_day_filter = "2024-11-28"

team_ratings = get_team_strengths(team_per_row_matches=team_per_row_df,
                                   end_date = end_day_filter)

team_ratings

,Team,Average Tries Scored Away,Average Tries Scored Home,Average Tries Conceded Away,Average Tries Conceded Home,Attack Strength Away,Attack Strength Home,Defence Strength Away,Defence Strength Home
0,BENETTON,2.566667,3.225806,4.400000,2.806452,0.959376,0.872454,1.190027,1.049003
1,BULLS,2.939394,5.090909,2.757576,2.636364,1.098695,1.376891,0.745816,0.985427
2,CARDIFF,2.310345,3.096774,3.689655,3.290323,0.863567,0.837556,0.997907,1.229866
3,CONNACHT,2.656250,3.666667,4.000000,2.733333,0.992860,0.991689,1.081843,1.021673
4,DRAGONS,2.275862,2.096774,5.551724,2.838710,0.850678,0.567095,1.501523,1.061061
5,EDINBURGH,2.419355,3.933333,3.322581,2.400000,0.904313,1.063812,0.898628,0.897079
6,GLASGOW,3.470588,4.032258,3.441176,1.516129,1.297246,1.090567,0.930703,0.566703
7,LEINSTER,3.516129,5.371429,2.741935,1.771429,1.314268,1.452760,0.741586,0.662129
8,LIONS,2.133333,4.206897,3.233333,3.310345,0.797403,1.137800,0.874490,1.237350
9,MUNSTER,2.828571,4.258065,2.485714,2.225806,1.057271,1.151639,0.672288,0.831968
10,OSPREYS,2.387097,3.166667,4.290323,2.566667,0.892256,0.856459,1.160364,0.959376
11,SCARLETS,2.793103,2.838710,4.551724,3.225806,1.044014,0.767759,1.231063,1.205751
12,SHARKS,2.656250,3.655172,3.593750,2.517241,0.992860,0.988581,0.971968,0.940901
13,STORMERS,2.741935,3.885714,2.741935,2.257143,1.024888,1.050933,0.741586,0.843681
14,ULSTER,2.937500,3.781250,3.125000,2.312500,1.097987,1.022680,0.845190,0.864373
15,ZEBRE,1.966667,2.500000,5.733333,4.666667,0.735106,0.676152,1.550641,1.744320

In [44]:
fixtures = team_per_row_df.loc[(team_per_row_df['Match Date'] > "2024-11-28") &
                            (team_per_row_df['Match Date'] < "2024-12-02")][['Team', 'Opponents']].values.tolist()
fixtures

[['GLASGOW', 'SCARLETS'],
 ['ULSTER', 'LEINSTER'],
 ['CONNACHT', 'BULLS'],
 ['MUNSTER', 'LIONS'],
 ['ZEBRE', 'OSPREYS'],
 ['EDINBURGH', 'BENETTON'],
 ['CARDIFF', 'DRAGONS'],
 ['SHARKS', 'STORMERS'],
 ['SCARLETS', 'GLASGOW'],
 ['LEINSTER', 'ULSTER'],
 ['BULLS', 'CONNACHT'],
 ['LIONS', 'MUNSTER'],
 ['OSPREYS', 'ZEBRE'],
 ['BENETTON', 'EDINBURGH'],
 ['DRAGONS', 'CARDIFF'],
 ['STORMERS', 'SHARKS']]

# Conversion rate

In [89]:
common_features = ['pkey', 'match_date_', 'Home team', 'Away team']

# home data
temp1 = raw_df[common_features+['home_n_tries', 'home_n_conversions', 'pen_try_minutes_home']].copy()
temp1['Team Location'] = "Home Team"
temp1.rename(columns={"Home team": "Team",
                    "Away team": "Opponents",
                    "home_n_tries": "Tries Scored",
                     "home_n_conversions": "Conversions Scored",
                     "pen_try_minutes_home": "Pen Tries Scored"},
                    inplace=True)

# away data
temp2 = raw_df[common_features + ['away_n_tries', 'away_n_conversions', 'pen_try_minutes_away']].copy()
temp2['Team Location'] = "Away Team"
temp2.rename(columns={"Away team": "Team",
                    "Home team": "Opponents",
                    "away_n_tries": "Tries Scored",
                     "away_n_conversions": "Conversions Scored",
                     "pen_try_minutes_away": "Pen Tries Scored"},
                    inplace=True)

# concat dfs together
conversions_df = pd.concat([temp1, temp2])
conversions_df.reset_index(inplace=True, drop=True)

conversions_df.rename(columns={"match_date_": "Match Date",
                    "pkey": "Primary Key"},
                    inplace=True)

conversions_df['Match Date'] = pd.to_datetime(team_per_row_df['Match Date'])

del(temp1)
del(temp2)

# conversions_df['len_p_tries'] = [len(i) if type(i)==str else 0 for i in conversions_df['Pen Tries Scored']]
conversions_df['p_tries'] = [len(re.findall(r'[\d]+', i)
                                ) if type(i)==str else 0 for i in conversions_df['Pen Tries Scored']]

conversions_df['non_pen_tries_scored'] = conversions_df['Tries Scored'] - conversions_df['p_tries']

conversions_df.sort_values(by='p_tries').tail(5)

,Primary Key,Match Date,Team,Opponents,Tries Scored,Conversions Scored,Pen Tries Scored,Team Location,p_tries,non_pen_tries_scored
1071,BENETTON_LEINSTER_2024-10-05,2024-10-05,LEINSTER,BENETTON,5.0,4.0,9',Away Team,1,4.0
0,ZEBRE_LIONS_2021-09-24,2021-09-24,ZEBRE,LIONS,4.0,2.0,57',Home Team,1,3.0
104,SHARKS_DRAGONS_2022-04-01,2022-04-01,SHARKS,DRAGONS,6.0,4.0,58' 62',Home Team,2,4.0
660,SHARKS_STORMERS_2022-01-29,2022-01-29,STORMERS,SHARKS,3.0,0.0,68' 84',Away Team,2,1.0
793,SCARLETS_LEINSTER_2022-10-28,2022-10-28,LEINSTER,SCARLETS,5.0,3.0,59' 72',Away Team,2,3.0

In [92]:
conversion_rate_df = conversions_df.groupby('Team')[['non_pen_tries_scored', 'Conversions Scored']].sum().reset_index()

conversion_rate_df['conversion_rate'] = conversion_rate_df['Conversions Scored'] / conversion_rate_df['non_pen_tries_scored']

conversion_rate_df

         Team  non_pen_tries_scored  Conversions Scored  conversion_rate
0           0                   0.0                 0.0              NaN
1           2                   0.0                 0.0              NaN
2    BENETTON                 176.0               126.0         0.715909
3       BULLS                 262.0               212.0         0.809160
4     CARDIFF                 158.0               118.0         0.746835
5    CONNACHT                 189.0               125.0         0.661376
6     DRAGONS                 127.0               101.0         0.795276
7   EDINBURGH                 192.0               137.0         0.713542
8     GLASGOW                 237.0               179.0         0.755274
9    LEINSTER                 291.0               227.0         0.780069
10      LIONS                 183.0               142.0         0.775956
11    MUNSTER                 228.0               168.0         0.736842
12    OSPREYS                 165.0               123.0         0.745455
13   SCARLETS                 167.0               125.0         0.748503
14     SHARKS                 186.0               142.0         0.763441
15   STORMERS                 216.0               157.0         0.726852
16     ULSTER                 210.0               159.0         0.757143
17      ZEBRE                 131.0                84.0         0.641221